@model WebCoreSongs.Models.Alternateartists

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alternateartists</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.ArtistId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
