SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BudgetSourceFileFormat](
	[FormatCode] [varchar](50) NOT NULL,
	[FormatColumns] [varchar](250) NOT NULL,
	[CreditsAreNegative] [bit] NOT NULL,
 CONSTRAINT [PK_BudgetSourceFileFormat] PRIMARY KEY CLUSTERED 
(
	[FormatCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
