USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[ViewSongsVirgulesLists]
AS
SELECT ID, Title, ArtistsWithVirgules, ISNULL(VSF.FlagNamesVirgules, N'') AS FlagNamesVirgules,
VSC.CollectionsWithVirgules
FROM
(SELECT        MAX(ID) AS ID, MAX(Title) AS Title, 
STRING_AGG(FullArtistName, '|') WITHIN GROUP ( ORDER BY ID ASC, Cover, Artist ) AS ArtistsWithVirgules
FROM            songbook.viewsongs
GROUP BY ID) InQry
LEFT OUTER JOIN ViewSongActiveFlags VSF On InQry.ID = VSF.Song
LEFT OUTER JOIN ViewSongCollectionLists VSC On InQry.ID = VSC.Song
GO
