USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repertoire](
	[Song] [int] NOT NULL,
	[Band] [int] NOT NULL,
	[PerformanceNotes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Repertoire] PRIMARY KEY CLUSTERED 
(
	[Song] ASC,
	[Band] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Repertoire]  WITH CHECK ADD  CONSTRAINT [FK_Repertoire_bands] FOREIGN KEY([Band])
REFERENCES [dbo].[bands] ([BandID])
GO
ALTER TABLE [dbo].[Repertoire] CHECK CONSTRAINT [FK_Repertoire_bands]
GO
ALTER TABLE [dbo].[Repertoire]  WITH CHECK ADD  CONSTRAINT [FK_Repertoire_songs] FOREIGN KEY([Song])
REFERENCES [songbook].[songs] ([ID])
GO
ALTER TABLE [dbo].[Repertoire] CHECK CONSTRAINT [FK_Repertoire_songs]
GO
