SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BudgetSourceFileItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[SourceFile] [int] NOT NULL,
	[SourceFileLine] [int] NULL,
	[BudgetItem] [int] NOT NULL,
 CONSTRAINT [PK_BudgetSourceFileItems] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
