USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[ViewListsLinkedToSongs]
AS
SELECT ID, Title, ArtistsVirgules, ArtistsCommas,
VSC.CollectionsVirgules, VSC.CollectionsCommas
FROM
(SELECT        MAX(ID) AS ID, MAX(Title) AS Title, 
STRING_AGG(FullArtistName, '|') WITHIN GROUP ( ORDER BY ID ASC, Cover, Artist ) AS ArtistsVirgules,
STRING_AGG(FullArtistName, ',') WITHIN GROUP ( ORDER BY ID ASC, Cover, Artist ) AS ArtistsCommas
FROM            songbook.viewsongs
GROUP BY ID) InQry
LEFT OUTER JOIN ViewSongCollectionLists VSC On InQry.ID = VSC.Song
GO
