SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[ViewBudget]
AS

SELECT [ID], TrDate, Amount, AmountNormalized, TrType, Descrip, Account, TrCode, Balance, SourceFile, Comment, Descrip2, IsIncome, Ignore,
CONVERT(varchar,Trdate)+ ':' +FORMAT(ID, '00000000') AS OrderField,
DateWithMBOffset, DATEFROMPARTS(YEAR(DateWithMBOffset), MONTH(DateWithMBOffset), 1) AS MonthWithMBOffset FROM 
(SELECT        dbo.Budget.[ID], dbo.Budget.TrDate, dbo.Budget.Amount, CASE WHEN IsIncome = 1 THEN Amount ELSE - Amount END AS AmountNormalized, dbo.Budget.TrType, dbo.Budget.Descrip, dbo.Budget.Account, 
dbo.Budget.TrCode, DATEADD(day, 
                         dbo.BudgetConfig.MonthBoundaryOffset, dbo.Budget.TrDate) AS DateWithMBOffset, dbo.Budget.Balance, dbo.Budget.SourceFile, dbo.Budget.Comment, dbo.Budget.Descrip2, 
						 dbo.Budget.IsIncome, dbo.Budget.Ignore
FROM            dbo.Budget INNER JOIN
                         dbo.BudgetConfig ON dbo.BudgetConfig.ID = 1 AND dbo.Budget.TrDate >= dbo.BudgetConfig.BaseDate) AS InnerSelect

GO
