SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[ViewBudgetMonthlyReport]
AS
SELECT TOP 100 PERCENT AmountNormalized, Grouping, TrMonth,
Grouping + '-' + CONVERT(varchar, TrMonth, 1) AS ViewKey
FROM            ViewBudgetWithMonthlySums
ORDER BY TrMonth, Grouping
GO
