SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[ViewBudgetWithMonthly]
AS
/* Basic types:*/ SELECT TrDate, Amount, AmountNormalized, TrType, ISNULL(BudgetTypeGroupings.GroupingLabel, TrType) AS [Grouping], 'B' AS GroupingType, Descrip, Account, TrCode, DateWithMBOffset, 
                         MonthWithMBOffset
FROM            dbo.ViewBudget LEFT OUTER JOIN
                         BudgetTypeGroupings ON ViewBudget.TrType = BudgetTypeGroupings.TrTypeID
						 WHERE (dbo.ViewBudget.Ignore = 0)
UNION
/* Parent (consolidated) types:*/ SELECT TrDate, Amount, AmountNormalized, TrType, BudgetTypeGroupings.ParentGroupingLabel AS [Grouping], 'P' AS GroupingType, Descrip, Account, TrCode, DateWithMBOffset, 
                         MonthWithMBOffset
FROM            dbo.ViewBudget INNER JOIN
                         BudgetTypeGroupings ON ViewBudget.TrType = BudgetTypeGroupings.TrTypeID AND BudgetTypeGroupings.ParentGroupingLabel IS NOT NULL
						 WHERE (dbo.ViewBudget.Ignore = 0)
UNION
/* Total expenditures:*/ SELECT TrDate, Amount, AmountNormalized, TrType, CASE WHEN IsIncome=1 THEN 'Income' ELSE 'Expenditures' END AS [Grouping], 'T' AS GroupingType, Descrip, Account, TrCode, DateWithMBOffset, 
 MonthWithMBOffset
FROM            dbo.ViewBudget
WHERE (dbo.ViewBudget.Ignore = 0)

GO
