SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DummyThing](
	[Splonk] [varchar](50) NOT NULL,
	[Descrip] [varchar](50) NULL,
	[Nummm] [int] NULL,
 CONSTRAINT [PK_DummyThing] PRIMARY KEY CLUSTERED 
(
	[Splonk] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
