USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongsFlagged](
	[SongID] [int] NOT NULL,
	[FlagID] [int] NOT NULL,
 CONSTRAINT [PK_SongsFlagged] PRIMARY KEY CLUSTERED 
(
	[SongID] ASC,
	[FlagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SongsFlagged]  WITH CHECK ADD  CONSTRAINT [FK_SongsFlagged_flags] FOREIGN KEY([FlagID])
REFERENCES [songbook].[flags] ([FlagID])
GO
ALTER TABLE [dbo].[SongsFlagged] CHECK CONSTRAINT [FK_SongsFlagged_flags]
GO
