USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   ALGORITHM =  UNDEFINED.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   SQL SECURITY DEFINER.
*/
CREATE VIEW [songbook].[viewsongs]
AS
SELECT        songs.TitlePrefix, songs.Title, songs.Code, songs.SongKey, songs.OriginalKey, songs.Comment, songs.PageNumber, songs.intablet, songs.Category, songs.ID, viewsongscovers.Cover, songs.Artist, artists.ArtistFirstName, 
                         artists.ArtistLastName, songs.DiffPDFName, songs.SetlistAddable, LTRIM(ISNULL(songs.TitlePrefix, '') + ' ' + ISNULL(songs.Title, '')) AS FullTitle, LTRIM(ISNULL(artists.ArtistFirstName, '') + ' ' + ISNULL(artists.ArtistLastName, ''))
                          AS FullArtistName, CAST(ISNULL(', :' + songs.Code, '') + ISNULL(', in ' + songs.SongKey, '') + ISNULL(', orig. ' + songs.OriginalKey, '') + ISNULL(', * ' + songs.Comment, '') + ISNULL(', pg ' + songs.PageNumber, '') 
                         AS varchar(8000)) AS SongInfo
FROM            songbook.songs INNER JOIN
                         songbook.viewsongscovers ON songs.ID = viewsongscovers.SongID LEFT OUTER JOIN
                         songbook.artists ON artists.ArtistID = viewsongscovers.ArtistID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "songs (songbook)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 239
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "viewsongscovers (songbook)"
            Begin Extent = 
               Top = 6
               Left = 277
               Bottom = 119
               Right = 447
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "artists (songbook)"
            Begin Extent = 
               Top = 120
               Left = 277
               Bottom = 233
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'VIEW',@level1name=N'viewsongs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'VIEW',@level1name=N'viewsongs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'songbook.viewsongs' , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'VIEW',@level1name=N'viewsongs'
GO
