USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   ALGORITHM =  UNDEFINED.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   SQL SECURITY DEFINER.
*/

CREATE VIEW [songbook].[viewsongsforsetlists] (
   [ID], 
   [FullTitle], 
   [FullArtistName], 
   [DiffPDFName], 
   [SetlistAddable], 
   [InTablet], 
   [SetlistCaption],
   [SetlistInfo],
   [ArtistList],
   [FlagList],
   [BandRepertoire], 
   [RepertoireBand],
   [RepertoirePrefix])
AS 
   /*
   *   SSMA warning messages:
   *   M2SS0243: NULL to String conversion in CONVERT statement is ignored
   *   M2SS0044: Type 'char(500) CHARACTER SET utf8mb3' was not converted because there is no mapping for it. Add a mapping and then convert again.
   */

   SELECT 
      viewsongs.ID AS ID, 
      viewsongs.FullTitle AS FullTitle, 
      viewsongs.FullArtistName AS FullArtistName, 
      viewsongs.DiffPDFName AS DiffPDFName, 
      viewsongs.SetlistAddable AS SetlistAddable, 
      viewsongs.InTablet AS InTablet, 
      CAST(trim(ISNULL(viewsongs.FullArtistName, N'') + ISNULL(
         CASE 
            WHEN (CAST(viewsongs.InTablet AS bigint) <> 0) THEN N''
            ELSE N' (no lyrics)'
         END, N'') + ISNULL(' - In ' + viewsongs.songkey, '') + ISNULL(', orig. ' + viewsongs.OriginalKey, '') + ISNULL(', * ' + viewsongs.Comment, '')) AS varchar(8000)) AS SetlistCaption,
	 '' AS SetlistInfo,
     VLst.ArtistsWithVirgules AS ArtistList,
	 VLst.FlagNamesVirgules As FlagList,
     0 AS BandRepertoire,
     -1 As RepertoireBand,
     '' AS RepertoirePrefix
   FROM songbook.viewsongs
   INNER JOIN ViewSongsVirgulesLists VLst ON viewsongs.ID = VLst.ID  
   WHERE (((CAST(viewsongs.SetlistAddable AS bigint) = 1) OR (CAST(viewsongs.InTablet AS bigint) = 1)) AND (viewsongs.Cover = 0))

   UNION
   SELECT 
      viewsongs.ID AS ID, 
      viewsongs.FullTitle AS FullTitle, 
      viewsongs.FullArtistName AS FullArtistName, 
      viewsongs.DiffPDFName AS DiffPDFName, 
      viewsongs.SetlistAddable AS SetlistAddable, 
      viewsongs.InTablet AS InTablet, 
      trim(ISNULL(viewsongs.FullArtistName, N'')) AS SetlistCaption,
      ISNULL(VRep.PerformanceNotes, N'') AS SetlistInfo,
	 VLst.ArtistsWithVirgules AS ArtistList,
	 VRep.BandName As FlagList,
     1 AS BandRepertoire,
     VRep.Band AS RepertoireBand,
     'zz ' + VRep.Abbrev + ' ' AS RepertoirePrefix
   FROM songbook.viewsongs
   INNER JOIN ViewSongsVirgulesLists VLst ON viewsongs.ID = VLst.ID  
   INNER JOIN ViewRepertoire VRep ON viewsongs.ID = VRep.Song  
   WHERE (viewsongs.Cover = 0)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'songbook.viewsongsforsetlists' , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'VIEW',@level1name=N'viewsongsforsetlists'
GO
