USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   ALGORITHM =  UNDEFINED.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   SQL SECURITY DEFINER.
*/
CREATE VIEW [songbook].[viewsongperformances]
AS
SELECT        ISNULL(songperformances.ID, - 1) AS PerformanceID, songperformances.Song AS Song, songperformances.Comment, songperformances.SetNumber, songperformances.OrderInSet,
performances.Comment AS PerfComment, viewsongssinglefield.TitleAndArtist, performances.PerformanceDate, performances.DidILead, 
                         YEAR(performances.PerformanceDate) AS PerformanceYear, CAST(YEAR(performances.PerformanceDate) AS varchar(50)) + N'/' + CAST((DATEPART(MONTH, performances.PerformanceDate) - 1) / 3 + 1 AS varchar(50)) 
                         AS PerformanceQtr, CAST(YEAR(performances.PerformanceDate) AS varchar(50)) + N'/' + CAST(DATEPART(MONTH, performances.PerformanceDate) AS varchar(50)) AS PerformanceMonth, venues.Name AS VenueName, 
                         venues.ID AS Venue, performances.ID AS PerfID, songperformances.ID AS SongPerfID
FROM            songbook.songperformances INNER JOIN
                         songbook.viewsongssinglefield ON songperformances.Song = viewsongssinglefield.ID INNER JOIN
                         songbook.performances ON songperformances.Performance = performances.ID INNER JOIN
                         songbook.venues ON performances.Venue = venues.ID
WHERE        (viewsongssinglefield.cover = 0)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "songperformances (songbook)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "viewsongssinglefield (songbook)"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 431
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "performances (songbook)"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "venues (songbook)"
            Begin Extent = 
               Top = 138
               Left = 258
               Bottom = 251
               Right = 428
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'VIEW',@level1name=N'viewsongperformances'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'VIEW',@level1name=N'viewsongperformances'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'songbook.viewsongperformances' , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'VIEW',@level1name=N'viewsongperformances'
GO
