USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* 
*   SSMA error messages:
*   M2SS0201: MySQL standard function GROUP_CONCAT is not supported in current SSMA version

/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   ALGORITHM =  UNDEFINED.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   SQL SECURITY DEFINER.
*/ */

CREATE VIEW [songbook].[viewsongflags] ([Song], [Flags])
AS 
   SELECT max(SongsFlagged.SongID) AS Song, STRING_AGG(songbook.flags.FlagCode, ', ') AS Flags
   FROM (dbo.SongsFlagged 
      INNER JOIN songbook.flags 
      ON ((SongsFlagged.FlagID = flags.FlagID)))
   GROUP BY SongsFlagged.SongID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'songbook.viewsongflags' , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'VIEW',@level1name=N'viewsongflags'
GO
