USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [songbook].[flaggedsongs_OLD_10Nov25](
	[FlaggedSongID] [int] IDENTITY(944,1) NOT NULL,
	[Song] [int] NOT NULL,
	[FlagID] [int] NOT NULL,
 CONSTRAINT [PK_flaggedsongs_FlaggedSongID] PRIMARY KEY CLUSTERED 
(
	[FlaggedSongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [songbook].[flaggedsongs_OLD_10Nov25]  WITH CHECK ADD  CONSTRAINT [FK_flaggedsongs_flags] FOREIGN KEY([FlagID])
REFERENCES [songbook].[flags] ([FlagID])
GO
ALTER TABLE [songbook].[flaggedsongs_OLD_10Nov25] CHECK CONSTRAINT [FK_flaggedsongs_flags]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'songbook.flaggedsongs' , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'TABLE',@level1name=N'flaggedsongs_OLD_10Nov25'
GO
