USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [songbook].[songperformances](
	[ID] [int] IDENTITY(4162,1) NOT NULL,
	[Performance] [int] NOT NULL,
	[Song] [int] NOT NULL,
	[Comment] [varchar](250) NULL,
	[SetNumber] [tinyint] NULL,
	[OrderInSet] [tinyint] NULL,
 CONSTRAINT [PK_songperformances_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Song] ON [songbook].[songperformances]
(
	[Song] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [songbook].[songperformances] ADD  DEFAULT (NULL) FOR [Comment]
GO
ALTER TABLE [songbook].[songperformances]  WITH CHECK ADD  CONSTRAINT [FK_songperformances_performances] FOREIGN KEY([Performance])
REFERENCES [songbook].[performances] ([ID])
GO
ALTER TABLE [songbook].[songperformances] CHECK CONSTRAINT [FK_songperformances_performances]
GO
ALTER TABLE [songbook].[songperformances]  WITH CHECK ADD  CONSTRAINT [FK_songperformances_songs] FOREIGN KEY([Song])
REFERENCES [songbook].[songs] ([ID])
GO
ALTER TABLE [songbook].[songperformances] CHECK CONSTRAINT [FK_songperformances_songs]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'songbook.songperformances' , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'TABLE',@level1name=N'songperformances'
GO
