USE [Songbook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [songbook].[performances](
	[ID] [int] IDENTITY(856,1) NOT NULL,
	[PerformanceDate] [date] NOT NULL,
	[Venue] [int] NOT NULL,
	[Comment] [varchar](250) NULL,
	[Series] [int] NULL,
	[PerformanceType] [char](1) NULL,
	[DidILead] [bit] NOT NULL,
	[Band] [int] NULL,
 CONSTRAINT [PK_performances_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [songbook].[performances] ADD  DEFAULT (NULL) FOR [Comment]
GO
ALTER TABLE [songbook].[performances] ADD  DEFAULT (NULL) FOR [Series]
GO
ALTER TABLE [songbook].[performances] ADD  DEFAULT (NULL) FOR [PerformanceType]
GO
ALTER TABLE [songbook].[performances]  WITH CHECK ADD  CONSTRAINT [FK_performances_bands] FOREIGN KEY([Band])
REFERENCES [dbo].[bands] ([BandID])
GO
ALTER TABLE [songbook].[performances] CHECK CONSTRAINT [FK_performances_bands]
GO
ALTER TABLE [songbook].[performances]  WITH CHECK ADD  CONSTRAINT [FK_performances_venues] FOREIGN KEY([Venue])
REFERENCES [songbook].[venues] ([ID])
GO
ALTER TABLE [songbook].[performances] CHECK CONSTRAINT [FK_performances_venues]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'songbook.performances' , @level0type=N'SCHEMA',@level0name=N'songbook', @level1type=N'TABLE',@level1name=N'performances'
GO
