USE [Budget]
GO
/****** Object:  Table [dbo].[DummyThing]    Script Date: 4/8/2026 11:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DummyThing](
	[Splonk] [varchar](50) NOT NULL,
	[Descrip] [varchar](50) NULL,
	[Nummm] [int] NULL,
 CONSTRAINT [PK_DummyThing] PRIMARY KEY CLUSTERED 
(
	[Splonk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
