USE [Budget]
GO
/****** Object:  Table [dbo].[BalanceSheet Mar2024 SQL Import]    Script Date: 4/8/2026 11:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BalanceSheet Mar2024 SQL Import](
	[column1] [date] NULL,
	[column2] [varchar](50) NULL,
	[column3] [varchar](100) NULL,
	[column4] [varchar](1) NULL,
	[column5] [decimal](18, 2) NULL,
	[column6] [nvarchar](50) NULL,
	[column7] [nvarchar](50) NULL,
	[column8] [nvarchar](50) NULL,
	[column9] [nvarchar](50) NULL,
	[column10] [nvarchar](1) NULL
) ON [PRIMARY]
GO
