USE [Budget]
GO
/****** Object:  View [dbo].[ViewBudget]    Script Date: 4/8/2026 11:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















CREATE VIEW [dbo].[ViewBudget]
AS

SELECT [ID], TrDate, Amount, Amount * AmountNormalizationMultiplier AS AmountNormalized, AmountRefundAdjusted, AmountRefundAdjusted * AmountNormalizationMultiplier AS AmountRefundAdjustedNormalized,
TrType, [Grouping], Descrip, Account, TrCode, Balance, Comment, Descrip2, ISNULL(IsIncome, 0) AS IsIncome, AcctTransfer, MonthWithMBOffset
FROM 
(SELECT        T.[ID], T.TrDate, T.Amount, CASE WHEN RAT.AdjustedAmount IS NULL THEN T.Amount ELSE RAT.AdjustedAmount END AS AmountRefundAdjusted,
						 T.TrType, CASE WHEN TransacType.IsIncome = 1 THEN 1 ELSE -1 END AS AmountNormalizationMultiplier,
						 T.Descrip, T.Account, 
						 T.TrCode, T.Balance, T.Comment, T.Descrip2, 
						 T.DescripFromVendor, TransacType.IsIncome, dbo.GetMonthWithMBOffset(TrDate) As MonthWithMBOffset, 
						 ISNULL(TransacType.GroupingLabel, TrType) AS [Grouping], T.AcctTransfer
FROM            dbo.Transac T INNER JOIN
                         dbo.BudgetConfig ON dbo.BudgetConfig.ID = 1 AND T.TrDate >= dbo.BudgetConfig.BaseDate
						 LEFT OUTER JOIN
                         TransacType ON T.TrType = TransacType.TrTypeID
						 LEFT OUTER JOIN RefundAdjustedTransacs() RAT ON T.ID = RAT.TransacID
						 ) AS InnerSelect



GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Budget (dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 265
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "BudgetConfig (dbo)"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 102
               Right = 454
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewBudget'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewBudget'
GO
