USE [Budget]
GO
/****** Object:  Table [dbo].[Fund]    Script Date: 4/8/2026 11:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fund](
	[FundID] [char](4) NOT NULL,
	[FundName] [varchar](50) NOT NULL,
	[FullName] [varchar](250) NOT NULL,
	[StockSymbol] [varchar](50) NULL,
	[Comment] [varchar](500) NULL,
	[URLforLogin] [varchar](500) NULL,
 CONSTRAINT [PK_Fund] PRIMARY KEY CLUSTERED 
(
	[FundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
