USE [Budget]
GO
/****** Object:  View [dbo].[ViewMonthlyReport]    Script Date: 4/8/2026 11:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE VIEW [dbo].[ViewMonthlyReport]
AS
SELECT        TOP (100) PERCENT SUM(AmountNormalized) AS AmountNormalized, SUM(AmountRefundAdjustedNormalized) AS AmountRefundAdjustedNormalized, MAX(GroupingKey) AS GroupingKey, 
	MAX(MonthWithMBOffset) AS TrMonth, MAX(AccountOwner) As AccountOwner, MAX(IsInvestment) As IsInvestment
	FROM            dbo.ViewBudgetWithMonthly 
	WHERE        (GroupingKey IS NOT NULL)
	GROUP BY GroupingKey, MonthWithMBOffset, AccountOwner, IsInvestment


GO
