USE [Budget]
GO
/****** Object:  UserDefinedFunction [dbo].[RefundAdjustedTransacs]    Script Date: 4/8/2026 11:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Dietrich Neuman
-- Create date: 28-July-25
-- Description:	Returns rows of Transac amounts with refunds applied via the Refund table
-- =============================================
CREATE FUNCTION [dbo].[RefundAdjustedTransacs] 
(
)
RETURNS 
@ReturnTable TABLE 
(
	-- Add the column definitions for the return table variable here
	TransacID int, 
	RefundID int, 
	Amount decimal(18,2),
	AdjustedAmount decimal(18,2)
)
AS
BEGIN
	-- Fill the table variable with the rows for your result set
DECLARE @ID int;
DECLARE @RefundID int;
DECLARE @RefundNotes int;
DECLARE @Amount decimal(18, 2);
DECLARE @TrDate date;

DECLARE @LastRefundID int = -1;
DECLARE @PositiveSum decimal(18, 2) = 0;
DECLARE @NegativeSum decimal(18, 2) = 0;
DECLARE @AdjustedAmount decimal(18, 2);

DECLARE CursTransac CURSOR FOR SELECT ID, RefundID, RefundNotes, Amount, TrDate FROM Transac WHERE RefundID IS NOT NULL ORDER BY RefundID, TrDate, ID;
OPEN CursTransac;

FETCH NEXT FROM CursTransac INTO @ID, @RefundID, @RefundNotes, @Amount, @TrDate;

WHILE @@FETCH_STATUS = 0
BEGIN
    -- Perform operations for the current row
	IF @RefundID <> @LastRefundID
	BEGIN
		SET @LastRefundID = @RefundID;
		SELECT 
			@PositiveSum = V.PositiveSum,
			@NegativeSum = V.NegativeSum
		FROM ViewRefundSums V WHERE V.RefundID = @LastRefundID

		-- Set sum vars to the lesser of their absolute values: 
		IF @PositiveSum < -@NegativeSum
			SET @NegativeSum = -@PositiveSum;
		ELSE
			SET @PositiveSum = -@NegativeSum;
	END

	-- Adjust Transac's amount by amounts from the @PositiveSum or -@NegativeSum vars:
	IF @Amount > 0
	BEGIN
		IF @PositiveSum > @Amount
		BEGIN
			SET @AdjustedAmount = 0;
			SET @PositiveSum = @PositiveSum - @Amount;
		END
		ELSE 
		BEGIN
			SET @AdjustedAmount = @Amount - @PositiveSum;
			SET @PositiveSum = 0;
		END
	END
	ELSE
	BEGIN
		IF @NegativeSum < @Amount
		BEGIN
			SET @AdjustedAmount = 0;
			SET @NegativeSum = @NegativeSum - @Amount;
		END
		ELSE 
		BEGIN
			SET @AdjustedAmount = @Amount - @NegativeSum;
			SET @NegativeSum = 0;
		END
	END

	INSERT INTO @ReturnTable (TransacID, RefundID, Amount, AdjustedAmount) VALUES (@ID, @RefundID, @Amount, @AdjustedAmount);
    -- PRINT 'Processing row: ' + CAST(@Transac AS VARCHAR) + ', ' + CAST(@Amount AS VARCHAR);

    FETCH NEXT FROM CursTransac INTO @ID, @RefundID, @RefundNotes, @Amount, @TrDate;
END;


CLOSE CursTransac;
DEALLOCATE CursTransac;	

RETURN;

END
GO
