USE [Budget]
GO
/****** Object:  View [dbo].[ViewBoolValues]    Script Date: 4/8/2026 11:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewBoolValues]
AS
SELECT BoolValue from (VALUES (0), (1)) AS BoolVals(BoolValue)  
GO
