USE [Budget]
GO
/****** Object:  Table [dbo].[SharePrice]    Script Date: 4/8/2026 11:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SharePrice](
	[SPDate] [date] NOT NULL,
	[PricePerShare] [decimal](18, 2) NOT NULL,
	[Comment] [varchar](250) NULL,
	[Fund] [char](4) NOT NULL,
 CONSTRAINT [PK_FundPrice] PRIMARY KEY CLUSTERED 
(
	[SPDate] ASC,
	[Fund] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SharePrice]  WITH CHECK ADD  CONSTRAINT [FK_SharePrice_Fund] FOREIGN KEY([Fund])
REFERENCES [dbo].[Fund] ([FundID])
GO
ALTER TABLE [dbo].[SharePrice] CHECK CONSTRAINT [FK_SharePrice_Fund]
GO
