@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Core Songs</h1>
    <p><a href="/SongList">Songs</a></p>
    <p><a href="/Viewsongperformances/Setlists">Setlists</a></p>
    <p><a href="/SongsLastPerformance">Last Performance of Songs</a></p>
    <p><a href="/ViewSongPerformanceTotals">Song Performance Totals</a></p>
    <p><a href="/DBPage/PerformanceList">Performances</a></p>
</div>
