@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to: <a href="/Viewsongperformances/Setlists">Setlists</a></p>
    <p>Go to: <a href="/Artists">Artists</a></p>
    <p>Go to: <a href="/Venues">Venues</a></p>
</div>
