@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Go to: <a href="/Viewsongperformances">Viewsongperformances</a></p>
    <p>Go to: <a href="/Artists">Artists</a></p>
    <p>Go to: <a href="/Venues">Venues</a></p>
</div>
